.contacts-container {
    width: 97%;
    height: 15rem;
    left: 2rem;
    position: relative;
    border-top-color: #5CE1E6;
    border-top-width: 4px;
    border-top-style: solid;
    padding-top: 2rem;
    margin-bottom: 2rem;
}

.subtitle {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    margin-bottom: 1rem;
    font-weight: 600;
    font-size: 1.7rem;
    color: white;
}

.contacts-list {
    margin-top: 1.7rem;
    margin-left:  0rem;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 1rem;
    list-style: none;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    color: WHITE;
}

.email-phone-list, .socials-list {
    margin-left:  0rem;
    width: 20rem;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 1rem;
    list-style: none;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    color: WHITE;
}

.contact-type {
    font-style: normal;
    font-weight: 600;
    color:#5CE1E6;
}

.contact-value {
    color: white;
    font-style: normal;
}

.link {
    text-decoration-color: #5CE1E6;
}
