.contacts-container {
    width: 97%;
    left: 1.5%;
    position: relative;
    border-top-color: #5CE1E6;
    border-top-width: 4px;
    border-top-style: solid;
    padding-top: 2rem;
    margin-bottom: 2rem;
}

.subtitle {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    margin-bottom: 1rem;
    font-weight: 600;
    font-size: 1.7rem;
    color: white;
}

.contacts-list {
    margin-top: 1.7rem;
    margin-left: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 1rem;
    list-style: none;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    color: WHITE;
}

.link {
    color: WHITE;
}

.link:hover {
    transform: scale(1.04);
}