.home-menu {
    height: auto;
    display: grid;
    grid-template-columns: 50% calc(41.8% + 2rem);
    list-style: none;
    width: 100%;
}

.about-me-grid {
    width: inherit;
    height: 25.5vw + 4rem;
    position: relative;
}

.prettyNav-grid {
    width: inherit;
    height: 25.5vw + 4rem;
    position: relative;
}


@media screen and (max-width: 800px) {
    .home-menu {
        height: auto;
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: repeat(1, calc(100% - 1.5rem));
        width: 100%;
        margin-bottom: 2rem;
    }

    .about-me-grid {
        width: inherit;
        height: calc(45.8vw + 2rem);
        position: relative;
    }

    .prettyNav-grid {
        width: inherit;
        height: calc(100vw - 4rem);
        position: relative;
    }
}