.home-menu {
    display: grid;
    grid-template-rows: repeat(1, auto);
    grid-template-columns: 50% 30%;
    list-style: none;
    width: 100%;
    justify-content: flex-start;
}

@media screen and (max-width: 1240px) {
    .home-menu {
        grid-template-rows: repeat(2, auto);
        grid-template-columns: repeat(1, auto);
    }
}

@media screen and (max-width: 740px) {
    .home-menu {
        grid-template-rows: repeat(2, auto);
        grid-template-columns: repeat(1, 100%);
    }
}