.projects-container{
    position: relative;
    margin-top: 2rem;
    margin-left: 2rem;
    width: 100% - 2rem;
}

.project {
    border-color: #5CE1E6;
    border-style: solid;
}

.project-blocks {
    overflow: scroll;
    overflow-y: hidden;
    position: relative;
    margin-right: 2rem;
    display: grid;
    grid-template-rows: 50rem;
    grid-template-columns: repeat(5, 25rem);
    grid-gap: 3rem;
    list-style: none;
    width: 100% - 2rem;
    height: auto;
}

.subtitle-divider {
    position: relative;
    width: calc(100% - 2rem);
    border-top-color: #5CE1E6;
    border-top-width: 4px;
    border-top-style: solid;
    padding-top: 2rem;
    margin-bottom: 2rem;
}

.subtitle-text {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    margin-bottom: 1rem;
    font-weight: 600;
    font-size: 2.6rem;
    color: white;
}



@media screen and (max-width: 800px) {
    .projects-container{
        position: relative;
        margin-top: 1rem;
        margin-left: 1.5rem;
        width: 100% - 1.5rem;
    }

    .subtitle-divider {
        position: relative;
        width: calc(100% - 1.5rem);
        border-top-color: #5CE1E6;
        border-top-width: 4px;
        border-top-style: solid;
        padding-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
    
    .subtitle-text {
        font-family: "Montserrat", Arial, Helvetica, sans-serif;
        font-weight: 600;
        font-size: 5vw;
        color: white;
    }

    .project-blocks {
        overflow: scroll;
        overflow-y: hidden;
        position: relative;
        margin-right: 1.5rem;
        display: grid;
        grid-template-rows: 50rem;
        grid-template-columns: repeat(5, 25rem);
        grid-gap: 2rem;
        list-style: none;
        width: 100% - 3rem;
        height: auto;
    }
}


