.project {
    overflow: hidden;
    border-color: #5CE1E6;
    border-style: solid;
}

.subtitle-divider {
    position: relative;
    width: 97%;
    left: 2rem;
    border-top-color: #5CE1E6;
    border-top-width: 4px;
    border-top-style: solid;
    padding-top: 2rem;
    margin-bottom: 2rem;
}

.subtitle-text {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    margin-bottom: 1rem;
    font-weight: 600;
    font-size: 2.6rem;
    color: white;


}

.project-blocks {
    overflow: hidden;
    position: relative;
    margin-left:2rem;
    display: grid;
    grid-template-rows: repeat(2, 47rem);
    grid-template-columns: repeat(4, 25rem);
    grid-gap: 2rem;
    list-style: none;
    width: 100% - 2rem;
    height: auto;
}

@media screen and (max-width: 1725px) {
    .project-blocks {
        overflow: hidden;
        grid-template-rows: repeat(2, 47rem);
        grid-template-columns: repeat(3, 25rem);
    }

}

@media screen and (max-width: 1300px) {
    .project-blocks {
        overflow: hidden;
        grid-template-rows: repeat(3, 47rem);
        grid-template-columns: repeat(2, 25rem);
    }

}


@media screen and (max-width: 840px) {
    .project-blocks {
        overflow: hidden;
        grid-template-rows: repeat(5, 47rem);
        grid-template-columns: repeat(1, 25rem);
    }
}

@media screen and (max-width: 500px) {
    .project-blocks {
        margin-left: 1rem;
    }

    .subtitle-divider {
        left: 1rem;
    }
}

