.projects-container{
    position: relative;
    margin-top: 2rem;
    margin-left: 2rem;
    width: calc(100% - 4rem);
}

.project {
    border-color: #5CE1E6;
    border-style: solid;
}

.project-blocks {
    position: relative;
    width: 100%;
    height: calc(100% - 3rem);
}

.project-list {
    overflow: scroll;
    overflow-y: hidden;
    position: relative;
    margin-right: 2rem;
    display: grid;
    grid-template-rows: 50rem;
    grid-template-columns: repeat(5, 25rem);
    grid-gap: 3rem;
    list-style: none;
    width: 100%;
    height: auto;
    padding-bottom: 2rem;
}

.subtitle-divider {
    position: relative;
    width: calc(100%);
    border-top-color: #5CE1E6;
    border-top-width: 4px;
    border-top-style: solid;
    padding-top: 2rem;
    margin-bottom: 2rem;
}

.subtitle-text {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    margin-bottom: 1rem;
    font-weight: 600;
    font-size: 2.6rem;
    color: white;
}


.right-button {
    position: absolute;
    width: 10%;
    height: inherit;
    right: 0;
    background-image: linear-gradient(to right, rgba(38, 53, 71, 0), rgba(38, 53, 71, 01));
    z-index: 1;
}




@media screen and (max-width: 800px) {
    .projects-container{
        position: relative;
        margin-top: 1rem;
        margin-left: 1.5rem;
        width: calc(100% - 3rem);
    }

    .subtitle-divider {
        position: relative;
        width: calc(100%);
        border-top-color: #5CE1E6;
        border-top-width: 4px;
        border-top-style: solid;
        padding-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
    
    .subtitle-text {
        font-family: "Montserrat", Arial, Helvetica, sans-serif;
        font-weight: 600;
        font-size: 5vw;
        color: white;
    }

    .project-blocks {
        position: relative;
        width: 100%;
        height: calc(100% - 2.5rem);
    }
    
    .project-list {
        overflow: scroll;
        overflow-y: hidden;
        position: relative;
        margin-right: 1.5rem;
        display: grid;
        grid-template-rows: 50rem;
        grid-template-columns: repeat(5, 25rem);
        grid-gap: 3rem;
        list-style: none;
        width: 100%;
        height: auto;
        padding-bottom: 1.5rem;
    }

    .right-button {
        position: absolute;
        width: 10%;
        height: inherit;
        right: 0;
        background-image: linear-gradient(to right, rgba(38, 53, 71, 0), rgba(38, 53, 71, 1));
        z-index: 1;
    }
}


