.resume-container {
    position: relative;
    width: 100%;
    left: 0px;
    height: auto;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

.resume-block {
    position: relative;
    background-color: #D9F2F8;
    left: 50%;
    transform: translateX(-50%);
    width: 64rem;
    height: 50rem;
    margin-top: 3rem;
}

.download-block {
    position: absolute;
    height: 10rem;
    width: 10.5rem;
    top: 50%;
    transform: translateY(-70%);
    left: 2.5rem;
    letter-spacing: normal;
    z-index: 50;
    border-color: #263547;
    border-width: 3px;
    border-style: solid;
    padding: 1rem;
}

.download-block-2 {
    display: none;
}

.download-text {
    color: #263547;
    font-style: normal;
    font-weight: 600;
    font-size: 1.2rem;
    text-align: center;
    z-index: 50;
}

.download-img {
    position: absolute;
    transform: scale(0.1);
    left: -26.9rem;
    top: -26rem;
}

.download-link {
    z-index: 50;
    text-decoration: none;
}

.resume-constraints {
    position: relative;
    background-color: #D9F2F8;
    width: 90%;
    height: 90%;
    top: 5%;
    margin: auto;
    overflow: scroll;
    overflow-x:hidden;
}

.resume-constraints img {
    width: auto; 
    height: 120%; 
    margin-left: 22%;
}

@media screen and (max-width: 960px) {

    .resume-block {
        position: absolute;
        background-color: #D9F2F8;
        justify-self: center;
        text-align: center;
        width: 90%;
        height: 45rem;
        margin-top: 2.5rem;
    }

    .resume-constraints {
        position: relative;
        background-color: #D9F2F8;
        width: 90%;
        height: 90%;
        top: 5%;
        overflow: scroll;
        overflow-x:hidden;
    }
    
    .resume-constraints img {
        position: absolute;
        left: 0;
        width: 100%; 
        height: auto; 
        margin-left: 50%;
        transform: translateX(-50%);
    }

    .download-block {
        display: none;
    }

    .download-block-2 {
        display: flex;
        position: absolute;
        left: 3rem;
        width: 100%;
        margin-top: 50rem;
        margin-left: 30%;
        
    }

    .download-text {
        color: #5CE1E6;
        text-decoration: underline;
        text-decoration-color: WHITE;
    }
}

