
.aboutMeBox {
    background-color: #D9F2F8;
    height: auto;
    width: calc(100% - 2rem);
    margin-left: 2rem;
    margin-top: 2rem;
    padding-bottom: 2.95rem;
}

.circular-pic { 
    display: inline-block; 
    position: relative; 
    width: calc(10.5vw);  
    height: calc(10.5vw);
    overflow: hidden; 
    border-radius: 50%; 
    margin-left: 5.3vw;
    margin-top: 5.8rem;
    transform: scale(1.6);
} 

.circular-pic img { 
    width: auto; 
    height: 100%; 
    margin-left: 0px; 
    transform: scale(1.10);
}

.helloBlock {
    font-family: "Montserrat", Arial, sans-serif;
    margin-left: 43.5%;
    margin-top: -8rem;
}

.helloTxt {
    font-style: normal;
    font-weight: 600;
    font-size: 1.7rem;
}

.nameBlock {
    font-family: "Montserrat", Arial, sans-serif;
    margin-left: 43%;
    margin-top: 1rem;
}

.nameTxt {
    font-style: normal;
    font-weight: 600;
    font-size: 3.5rem;
}

.aboutMeTextBlock {
    font-family: "Montserrat", Arial, sans-serif;
    margin-left: 6rem;
    margin-right: 6rem;
    margin-top: 7rem;
}

.aboutMeTxt {
    font-style: normal;
    font-weight: 500;
    font-size: 1.7rem;
    line-height: 3rem;
}

@media screen and (max-width: 1240px) {
    .aboutMeBox {
        background-color: #D9F2F8;
        height: auto;
        width: calc(100% - 4rem);
        margin-left: 2rem;
        margin-top: 2rem;
        padding-bottom: 3.15rem;
    }

    .circular-pic { 
        display: inline-block; 
        position: relative; 
        width: calc(18vw);  
        height: calc(18vw);
        overflow: hidden; 
        border-radius: 50%; 
        margin-left: 8vw;
        margin-top: 8vw;
        transform: scale(1.6);
    } 
}


