
.aboutMeBox {
    background-color: #D9F2F8;
    height: auto;
    width: calc(100% - 2rem);
    left: 2rem;
    top: 2rem;
    position: absolute;
}

.circular-pic { 
    width: 35%;  
    overflow: hidden; 
    border-radius: 50%; 
    position: absolute;
    top: 2rem;
    left: 2rem;
} 

.circular-pic img { 
    width: 100%; 
    height: auto; 
    margin-left: 5px; 
    transform: scale(1.2);
}

.helloBlock {
    font-family: "Montserrat", Arial, sans-serif;
    margin-left: 46.5%;
    top: 8vw;
    position: absolute;
}

.helloTxt {
    font-style: normal;
    font-weight: 600;
    font-size: 1.5vw;
}

.nameBlock {
    font-family: "Montserrat", Arial, sans-serif;
    margin-left: 46%;
    margin-top: 10vw;
    margin-bottom: 3vw;
    position: absolute;

}

.nameTxt {
    font-style: normal;
    font-weight: 600;
    font-size: 3vw;
}

.aboutMeTextBlock {
    font-family: "Montserrat", Arial, sans-serif;
    margin-left: calc(3vw + 1.3rem);
    margin-right: 3vw;
    margin-top: 21vw;
    padding-bottom: 2.95rem;
}

.aboutMeTxt {
    font-style: normal;
    font-weight: 500;
    font-size: 1.8vw;
    line-height: 2.8vw;
}

@media screen and (max-width: 800px) {
    .circular-pic { 
        width: 35%;  
        overflow: hidden; 
        border-radius: 50%; 
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 1.5rem;
    } 

    .helloBlock {
        font-family: "Montserrat", Arial, sans-serif;
        margin-left: 63.5%;
        top: 8vw;
        position: absolute;
    }
    
    .helloTxt {
        font-style: normal;
        font-weight: 600;
        font-size: 2.5vw;
    }
    
    .nameBlock {
        font-family: "Montserrat", Arial, sans-serif;
        margin-left: 55.5%;
        margin-top: 12.5vw;
        position: absolute;
    
    }
    
    .nameTxt {
        font-style: normal;
        font-weight: 600;
        font-size: 4.5vw;
    }
    
    .aboutMeTextBlock {
        font-family: "Montserrat", Arial, sans-serif;
        margin-left: calc(40vw);
        margin-right: 3vw;
        margin-top: 20vw;
        padding-bottom: 2rem;
    }
    
    .aboutMeTxt {
        font-style: normal;
        font-weight: 500;
        font-size: 2.5vw;
        line-height: 2.8vw;
        text-align: center;
    }
}

