.buttonContainer {
    position: relative;
    margin: 0rem;
    background-color: #4D90B9;
    width: 20.5rem;
    height: 20.5rem;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    cursor: pointer;
}


.buttonContainer:hover {
    transform: scale(1.03);
    transition: 0.1s ease-out;
}


.button-link {
    width: 20.5rem;
    height: 20.5rem;
    text-decoration: none;
}


.box-pic { 
    position: absolute; 
    bottom: 0rem;
    width: 20.5rem; 
    height: 100%; 
    overflow: hidden; 
    transform: scale(1);
} 

.buttonText {
    position: relative;
    top: 1.5rem;
    text-justify: center;
    color: white;
    font-style: normal;
    font-weight: 600;
    font-size: 1.7rem;
    text-align: center;
    z-index: 10;
    letter-spacing: 0.1rem;
}
