.buttonContainer {
    position: relative;
    background-color: #4D90B9;
    width: 100%;
    aspect-ratio: 1;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    cursor: pointer;
}


.buttonContainer:hover {
    transform: scale(1.03);
    transition: 0.1s ease-out;
}


.button-link {
    text-decoration: none;
}

.box-pic { 
    position: absolute; 
    bottom: 0rem;
    width: 100%; 
    height: 100%; 
    overflow: hidden; 
} 

.buttonText {
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
    top: 9%;
    color: white;
    font-style: normal;
    font-weight: 600;
    font-size: 1.5vw;
    text-align: center;
    z-index: 10;
    letter-spacing: 0.1rem;
}

@media screen and (max-width: 800px) {
    .buttonText {
        margin-left: 10%;
        margin-right: 10%;
        position: relative;
        top: 9%;
        color: white;
        font-style: normal;
        font-weight: 600;
        font-size: 2.4vw;
        text-align: center;
        z-index: 10;
        letter-spacing: 0.1rem;
    }
}
