.project-container {
    position: relative;
    border-color: #5CE1E6;
    border-style: solid;
    height: 30rem;
    width: 100%;
    overflow: hidden;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    transition: all 0.5s ease;
}

.project-container.active {
    transition: all 0.5s ease;
    height: 100%;
}

.project-name {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 600;
    font-size: 1.3rem;
    color: white;
    text-align: center;
}

.project-image {
    margin-left: 5%;
    width: 90%;
}

.project-info-block {
    padding-top: 0.7rem;
    margin-left: 5%;
    position: relative;
    width: auto;
    font-weight: 500;
    padding-bottom: 0.7rem;
    font-size: 0.8rem;
}

.project-dates {
    color: white;
    padding-bottom :0.2rem;
}

.project-link {
    font-size: 1rem;
    color: #5CE1E6;
}

.project-description-block.inactive {
    position: absolute;
    width: 90%;
    margin-left: 5%;
    padding-bottom: 12rem;
    padding-top: 1rem;
    border-top-color: #5CE1E6;
    border-top-width: 4px;
    border-top-style: solid;
    transition: all 0.5s ease;
}

.project-description-block.active {
    position: relative;
    width: 90%;
    height: auto;
    margin-left: 5%;
    padding-bottom: 6rem;
    padding-top: 1rem;
    border-top-color: #5CE1E6;
    border-top-width: 4px;
    border-top-style: solid;
    transition: all 0.5s ease;
}

.project-description {
    color: white;
    line-height: 1.4rem;
}

.project-link {
    text-decoration: none;
}

.expand-btn {
    position: absolute;
    bottom: 0;
    height: 3rem;
    width: 100%;
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: #5CE1E6;
    text-align: center;
    font-size: 3rem;
    color: white;
    background-color: #4D90B9;
}

@media screen and (max-width: 800px) {
    .project-name {
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-weight: 600;
        font-size: 3.5vw;
        color: white;
        text-align: center;
    }
}

@media screen and (max-width: 800px) and (min-width: 545px) {
    .project-image {
        margin-left: 5%;
        width: 55%;
    }

    .project-info-block {
        padding-top: 0.7rem;
        margin-left: 63%;
        position: absolute;
        width: auto;
        font-weight: 500;
        padding-bottom: 0.7rem;
        font-size: 0.9rem;
        top: 3rem;
    }

}



