* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', Arial, sans-serif;
}

body{
    background-color: #263547;
}


.homepage-content {
    display: grid;
    list-style: none;
    grid-template-rows: auto auto;
    grid-template-columns: 100%;
    grid-gap: 2rem;
    justify-content: flex-start;
}

  
 