* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', Arial, sans-serif;
}

body{
    background-color: #263547;
}

.homepage-content {
    display: grid;
    list-style: none;
    grid-template-rows: auto auto;
    grid-template-columns: 100%;
    justify-content: flex-start;
}

.home, .projects, .contacts {
    padding-bottom: 3rem;
}

.home {
    scroll-margin-top: 70px;
}

.projects {
    scroll-margin-top: 66px;
}

  
 