.buttonContainer {
    background-color: white;
    width: 20rem;
    height: 20rem;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

.box-pic { 
    display: inline-block; 
    position: absolute; 
    top: 0px;
    width: 20rem; height: 
    20rem; overflow: hidden; 
    transform: scale(1);
} 

.box-pic img { 
    width: auto; 
    height: 100%; 
    margin-left: -65px; 
    transform: scale(0.83);
}

.buttonText {
    color: black;
    font-style: normal;
    font-weight: 700;
    font-size: 1.7rem;
    text-align: center;
}

.button-link {
    text-decoration: none;
}